<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey Dominica</h3>
	<p>
		<%= @sender %> says:
	</p>
    <p>
		<%= @message %>
    </p>
	<p>
		Deets:<br>
		<%= @email %><br>
		<%= @phone %>
	</p>
	<br>
    <p style="font-style: italic; color: purple;">Don't forget...you look pretty today!</p>
	<img src="https://png.pngtree.com/element_origin_min_pic/00/02/39/255683765bf3b66.jpg" width="100" />
  </body>
</html>