<!-- Photo Modal -->
	<div id="photoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-body">
			 
		  </div>
		</div> <!-- modal-content -->
	   </div>  <!-- modal-dialog -->
	</div>     <!-- modal -->